<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>BD推广员管理</em>管理所有BD推广员，查看推广数据和佣金明细</div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-list" data-toggle="tab">全部</a></li>
            <li><a href="#tab-stats" data-toggle="tab"><i class="fa fa-bar-chart"></i> 统计报表</a></li>
            <li><a href="#tab-settlement" data-toggle="tab"><i class="fa fa-calculator"></i> 结算统计</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <!-- 列表Tab -->
            <div class="tab-pane fade active in" id="tab-list">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-detail="{:url('wanlshop.bdpromoter/detail')}"
                           width="100%">
                    </table>
                </div>
            </div>

            <!-- 统计报表Tab -->
            <div class="tab-pane fade" id="tab-stats">
                <div id="stats-content"></div>
            </div>

            <!-- 结算统计Tab -->
            <div class="tab-pane fade" id="tab-settlement">
                <div id="settlement-content"></div>
            </div>
        </div>
    </div>
</div>

<script>
require(['jquery'], function($) {
    var statsLoaded = false;
    var settlementLoaded = false;

    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        var target = $(e.target).attr('href');

        if (target === '#tab-stats' && !statsLoaded) {
            $('#stats-content').load('wanlshop/bdpromoter/stats?_=' + Date.now(), function() {
                statsLoaded = true;
            });
        }

        if (target === '#tab-settlement' && !settlementLoaded) {
            $('#settlement-content').load('wanlshop/bdpromoter/settlement?_=' + Date.now(), function() {
                settlementLoaded = true;
            });
        }
    });
});
</script>
