[app]
debug = false
trace = false

[database]
hostname = 127.0.0.1
database = fastadmin
username = root
password = root
hostport = 3306
prefix = fa_

[wechat_miniprogram]
# 微信小程序配置
# 从微信公众平台获取: https://mp.weixin.qq.com/
# 路径: 开发 -> 开发管理 -> 开发设置
WECHAT_MINIPROGRAM_APPID = 
WECHAT_MINIPROGRAM_SECRET =