<div class="row verification-detail">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">核销概览</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>核销码</td>
							<td>{$row.voucher_no|htmlentities|default='-'}</td>
						</tr>
						<tr>
							<td>核销方式</td>
							<td>{$row.verify_method_text|htmlentities|default='-'}</td>
						</tr>
						<tr>
							<td>核销金额</td>
							<td>￥{$row.face_value|default='0.00'}</td>
						</tr>
						<tr>
							<td>供货价</td>
							<td>￥{$row.supply_price|default='0.00'}</td>
						</tr>
						<tr>
							<td>核销时间</td>
							<td>{$row.createtime?datetime($row.createtime):'-'}</td>
						</tr>
						<tr>
							<td>核销门店</td>
							<td>{$row.shop_name|htmlentities|default='-'}</td>
						</tr>
						<tr>
							<td>核销员</td>
							<td>{$row.verify_user_id|default='-'}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">券信息</div>
			<div class="panel-body">
				{if condition="$row.voucher"}
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>券编号</td>
							<td>{$row.voucher.voucher_no|htmlentities|default='-'}</td>
						</tr>
						<tr>
							<td>券状态</td>
							<td>{$row.voucher.state_text|htmlentities|default='-'}</td>
						</tr>
						<tr>
							<td>面值</td>
							<td>￥{$row.voucher.face_value|default='0.00'}</td>
						</tr>
						<tr>
							<td>供货价</td>
							<td>￥{$row.voucher.supply_price|default='0.00'}</td>
						</tr>
						<tr>
							<td>所属订单</td>
							<td>{$row.voucher.order_id|default='-'}</td>
						</tr>
						<tr>
							<td>所属用户</td>
							<td>{$row.voucher.user_id|default='-'}</td>
						</tr>
					</tbody>
				</table>
				{else /}
				<p class="text-muted">暂无券信息</p>
				{/if}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">用户信息</div>
			<div class="panel-body">
				{if condition="$row.user"}
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>用户ID</td>
							<td>{$row.user_id|default='-'}</td>
						</tr>
						<tr>
							<td>昵称</td>
							<td>{$row.user.nickname|htmlentities|default='-'}</td>
						</tr>
						<tr>
							<td>手机号</td>
							<td>{$row.user.mobile|htmlentities|default='-'}</td>
						</tr>
					</tbody>
				</table>
				{else /}
				<p class="text-muted">暂无用户信息</p>
				{/if}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">商品信息</div>
			<div class="panel-body">
				{if condition="$row.voucher && $row.voucher.goods"}
				<div class="media">
					<div class="media-left">
						<img class="media-object img-thumbnail" style="width:96px;height:96px;" src="{$row.voucher.goods.image|cdnurl|htmlentities|default=''}" alt="{$row.voucher.goods.title|htmlentities|default='商品'}">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{$row.voucher.goods_title|htmlentities|default='-'}</h4>
						<p>商品ID：{$row.voucher.goods.id|default='-'}</p>
						<p>城市：{$row.region_city_name|htmlentities|default='-'}</p>
					</div>
				</div>
				{else /}
				<p class="text-muted">暂无商品信息</p>
				{/if}
			</div>
		</div>
	</div>
</div>

<div class="hide layer-footer">
	<label class="control-label col-xs-12 col-sm-2"></label>
	<div class="col-xs-12 col-sm-8">
		<button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
	</div>
</div>

<style type="text/css">
	.verification-detail .panel-body table td:first-child {
		width: 110px;
		color: #666;
	}
	.verification-detail .media {
		align-items: center;
	}
</style>
