<style type="text/css">
@page {
		size: auto;
		margin: 0mm;
	}
	.wanl_order_list{
		margin-bottom: 15px;
	}
	.wanl_order_list .detail{
		
	}
	.fix-108{
		width: 108px;
		text-align: center;
	}
	.text-left{
		text-align: left;
	}
	.text-right{
		text-align: right;
	}
	.wanl_order_list .table>thead{
		background: #f9fafc;
	}
	.bootstrap-table .table,
	.bootstrap-table .table>thead>tr>th{
		border-bottom: 1px solid #f1f1f1;
	}
	.table-bordered{
		border: 1px solid #f1f1f1;
	}
	.table-bordered > thead > tr > th, 
	.table-bordered > tbody > tr > td {
		border: 1px solid #f1f1f1;
		border-bottom: 0;
	}
	.table-bordered > thead > tr > th, label{
		margin-bottom: 0;
		font-weight: normal;
	}
	.table-bordered > tbody td.empty{
		border-top: 0;
	}
	.table-bordered > tbody td.conceal{
		border-left: 0 ;
		border-right: 0 ;
	}
	.table-bordered > tbody td.conceal.fix-108{
	}
	.table-hover > tbody > tr:hover {
	  background-color: #fffbfb;
	}
	/* 产品 */
	.wanl_order_list p{
		margin-bottom: 4px;
	}
	.wanl_order_list .item {
		display: flex;
		margin: 10px;
	}
	
	.wanl_order_list .item .order_img {
		overflow: hidden;
		border-radius: 6px;
		flex-shrink: 0;
		width: 72px;
		height: 72px;
	}
	.wanl_order_list .item .order_img img{
		width: 72px;
		height: 72px;
		object-fit: cover;
	}
	.wanl_order_list .item .order_info {
		width: 90%;
		margin-left: 10px;
		margin-top: 2px;
	}
	.wanl_order_list .item .order_info .sku {
		color: #9e9e9e;
	}
	
	.wanl_order_list .operation a{
		color: #565656;
	}
	.no-records-found{
		background-color: #fffbfb;
	}
	.wanl-stat {
        background: #fff;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }
    .wanl-stat .icon {
        width: 46px;
        height: 46px;
        border-radius: 8px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-right: 10px;
    }
    .wanl-stat .meta {
        line-height: 1.3;
    }
    .wanl-stat .meta .value {
        font-size: 22px;
        font-weight: 600;
        display: block;
    }
    .wanl-stat .meta .label {
        color: #888;
        font-size: 12px;
    }
    .wanl-filter {
        margin-bottom: 15px;
        padding: 12px;
    }
    .wanl-filter .form-group {
        margin-right: 10px;
        margin-bottom: 8px;
    }
    .table-nowrap {
        table-layout: fixed;
    }
    @media (max-width: 768px) {
        .wanl-stat {
            margin-bottom: 10px;
        }
        .wanl-filter .form-group {
            display: block;
            width: 100%;
        }
        .wanl-filter .form-control {
            width: 100%;
        }
    }
</style>
<div class="panel panel-default panel-intro">
	<div class="panel-heading">
		<span class="panel-title">核销记录</span>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="wanl-stat">
					<span class="icon" style="background:#23b7e5;"><i class="fa fa-bolt"></i></span>
					<div class="meta">
						<span class="value" data-field="today_count">{$stats.today_count|default='0'}</span>
						<span class="label">今日核销数</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="wanl-stat">
					<span class="icon" style="background:#f05050;"><i class="fa fa-cny"></i></span>
					<div class="meta">
						<span class="value" data-field="today_amount">{$stats.today_amount|default='0.00'}</span>
						<span class="label">今日核销金额</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="wanl-stat">
					<span class="icon" style="background:#27c24c;"><i class="fa fa-calendar"></i></span>
					<div class="meta">
						<span class="value" data-field="month_count">{$stats.month_count|default='0'}</span>
						<span class="label">本月核销数</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="wanl-stat">
					<span class="icon" style="background:#7266ba;"><i class="fa fa-line-chart"></i></span>
					<div class="meta">
						<span class="value" data-field="month_amount">{$stats.month_amount|default='0.00'}</span>
						<span class="label">本月核销金额</span>
					</div>
				</div>
			</div>
		</div>

		<div class="well well-sm wanl-filter">
			<form class="form-inline" role="form">
				<div class="form-group">
					<label class="control-label">核销时间</label>
					<input type="text"
						   name="createtime"
						   class="form-control datetimerange"
						   placeholder="选择时间范围"
						   data-start-date="{:date('Y-m-01 00:00:00')}"
						   data-end-date="{:date('Y-m-t 23:59:59')}"
						   data-locale-format="YYYY-MM-DD HH:mm:ss"
						   value="{:date('Y-m-01 00:00:00')} - {:date('Y-m-t 23:59:59')}">
				</div>
				<button type="button" class="btn btn-primary btn-filter"><i class="fa fa-search"></i> 查询</button>
				<button type="button" class="btn btn-default btn-reset"><i class="fa fa-refresh"></i> 重置</button>
			</form>
		</div>

		<div class="widget-body no-padding">
			<div id="toolbar" class="toolbar">
				<a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}"><i class="fa fa-refresh"></i></a>
			</div>
			<table id="table" data-show-export="false" data-show-toggle="false" data-show-columns="false" class="table" width="100%"></table>
		</div>
	</div>
</div>
<script type="text/html" id="itemtpl">
	<% if(i == 0){ %>
		<div class="col-sm-12" style="margin-bottom: 15px;">
			<table class="table table-bordered table-striped table-hover table-nowrap">
			   <thead>
				   <tr>
						<th class="text-center"><div class="th-inner"><strong>商品</strong></div></th>
						<th class="fix-108"><div class="th-inner">核销码</div></th>
						<th class="fix-108"><div class="th-inner">核销金额</div></th>
						<th class="fix-108"><div class="th-inner">用户</div></th>
						<th class="fix-108"><div class="th-inner">核销方式</div></th>
						<th class="fix-108"><div class="th-inner">核销时间</div></th>
						<th class="fix-108"><div class="th-inner">操作</div></th>
				   </tr>
			   </thead>
			</table>
		</div>
	<% } %>
	<div class="wanl_order_list col-sm-12">
		<table class="table table-bordered table-hover ">
			<tbody>
			    <% var goods = item.voucher && item.voucher.goods ? item.voucher.goods : {}; %>
				<tr>
			    	<td class="conceal">
						<div class="item">
							<div class="order_img">
								<a href="javascript:"><img class="img-md img-center" src="<%= goods.image ? cdnurl(goods.image) : '' %>" alt="<%= item.voucher ? (item.voucher.goods_title || '') : '' %>"></a>
							</div>
							<div class="order_info">
								<p><%= item.voucher ? (item.voucher.goods_title || '-') : '-' %></p>
								<p class="sku"><%= item.shop_name || item.region_city_name || '-' %></p>
							</div>
						</div>
			    	</td>
			    	<td class="conceal fix-108">
						<p><%= item.voucher_no || (item.voucher ? item.voucher.voucher_no : '') %></p>
			    	</td>
			    	<td class="conceal fix-108">
						<p>￥<%= item.face_value || '0.00' %></p>
					</td>
			    	<td class="conceal fix-108">
						<p style="margin-bottom:5px;">
							<a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="user.nickname" data-value="<%= item.user ? item.user.nickname : '' %>" data-original-title="点击搜索 <%= item.user ? item.user.nickname : '' %>"><%= item.user ? item.user.nickname : '-' %></a>
						</p>
			    	</td>
					<td class="conceal fix-108">
						<p><%= item.verify_method_text || '-' %></p>
					</td>
					<td class="conceal fix-108">
						<p><%= item.createtime ? Moment(item.createtime*1000).format("YYYY-MM-DD HH:mm:ss") : '-' %></p>
					</td>
					<td class="conceal fix-108 operation">
						<a href="javascript:;" class="btn btn-xs btn-info detail" data-id="<%=item.id%>">查看详情</a>
					</td>
			    </tr>
			</tbody>
		</table>
	</div>
</script>
