<div class="sidenav">
	<ul class="list-group">
		<li class="list-group-heading">交易管理</li>
		<li class="list-group-item active"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 已卖出商品</a></li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 评论管理</a> </li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 退款管理</a> </li>
	</ul>
	<ul class="list-group">
		<li class="list-group-heading">商品管理</li>
		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 发布商品</a></li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 出售中的商品</a> </li>
		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 仓库中的商品</a> </li>
	</ul>
	<ul class="list-group">
		<li class="list-group-heading">店铺管理</li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 类目管理</a> </li>
		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 店铺设置</a> </li>
	</ul>
</div>